{% extends "header.html" %}

{% block content %}
<h1>Bulletin Board</h1>
<ul>
    <li>November 1, 2019 <br> <a href='/customerMemo'>Memo to Customers</a></li>
    <br>
    <li>December 15, 2019 <br> <a href='/employeeHoliday'>Employee Holiday Dinner</a></li>
    <br>
    <li>December 23-30, 2019 <br><a href='/shutdown'> Company Shutdown</a></li>
    <br>
    <li>January 15, 2020 <br> <a href='/w2'>W2 Forms</a></li>
    <br>
    <li>February 23, 2020 <br> <a href='/ceoMessage'> Important CEO Message</a></li>
    <br>
    <li>March 15, 2020 <br> <a href='/covid19'>COVID-19 Special Announcement</a></li>
    <br><br>
</ul>
{% endblock %}