{% extends "header.html" %}

{% block content %}
<h1>Important Message from the CEO</h1>
<h2>Attention Everyone:</h2>
<p>It is with a heavy heart that I must inform you that in the past month, we had some of our employees' identity
    stolen. As a result, our server was compromised by the evildoer as well. Some of you noticed that our site
    was down for a few days, and that was a result of us attempting to fix the server and purge any malware that was installed.<br><br>
    What we know about the criminal so far: their favorite computer language was Python, they are a bother to society, and they seem to have 
    spelling issues (we found "llehs" in our website and believe it's their calling card).<br><br>
    We have been cooperating with law enforcement, and will hopefully bring our employees justice.
</p>

<!--They didn't find all my sllehs :) MWAHAHAHAHA!!!-->
{% endblock %}