{% extends "header.html" %}

{% block content %}
<h1>COVID-19 Special Announcement</h1><br>
<h2>To Our Valued Customers</h2>
<p>As you've all heard by now, COVID-19 is becoming a bigger threat than we imagined.<br>
    To protect our employee's health, we will only be taking orders via phonecall. Please call us when
    you have arrived outside our store, so the employees can run your purchases outside<br>
    the building where you may pick them up upon your arrival.<br><br>
    Call us today at 0118 999 881 999 119 7253!
</p>
<p>We also had server issues, so we've restored this site from a previous backup.</p>
{% endblock %}