{% extends "header.html" %}

{% block content %}
<h1>Special Memo to Customers</h1>
<p>Welcome to our site! We're excited to have launched our new and improved site this month!<br>
If you have any feedback or comments, feel free to fill out our customer survey in-store!<br><br>
Here at XYZ Company, we value our customers. If you fill out our Customer Experience survey and give it to 
an associate, we'll give you a $15 coupon off your next service request! <br>See an associate for complete details.</p>

<p>We will also be giving out free employee T-Shirts that we have leftover to the first 100 customers that fill the survey out!!</p>
{% endblock %}