{% extends "header.html" %}

{% block content %}
<h1>Employee Portal</h1>

<p>Here at our important company, we value our employees!</p>
<p>We give our employees 50 days of paid vacation per year, and below are the current
    totals for our employees:
</p>

<hr>
<h1>Important Announcements:</h1>
<h2>W2 Information</h2>
<h3>Attention Employees:</h3>
<p>Hello, it's the Intern!</p>

<p>I'm excited to be here! I'm posting this message as a reminder that we will be
    getting your W2 forms handed back to you in the store this week! As I'm an intern and 
    I don't know who all of you are, please make it simple and do the following on Friday:
</p>
<ul>
    <li>Wear our employee T-shirt so I can easily find you</li>
    <li>Let me know if you're picking up more than one W2 form in advance</li>
    <li>Let us know if you'd rather have this mailed to you instead</li>
</ul>
<p>Thanks, and have a great rest of your day!!! :)</p>

<br>
<h2>Employee COVID-19 Announcement</h2>
<h3>Attention Employees:</h3>
<p>I'm sure you've all heard of the pandemic by now, and we're working towards a solution
    as a company. For the time being, we're allowing our IT Staff 
    to work from home. We had our Intern add this functionality into this site, so they can work 
    remotely.
</p>

<a href="/addUser" class="hrLink">HR Tasks</a>
{% endblock %}