<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Employee WWW</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    </head>
    <body>
        <div class="layout">
            <header>
                <nav>
                    <ul>
                        <li {% if request.path == "/" %} class="currentpage"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li {% if request.path == "/products" %} class="currentpage"{% endif %}>
                            <a href="/products">Products</a>
                        </li>
                        <li {% if request.path == "/services" %} class="currentpage"{% endif %}>
                            <a href="/services">Services</a>
                        </li>
                        <li {% if request.path == "/bulletin" %} class="currentpage"{% endif %}>
                            <a href="/bulletin">Bulletin Board</a>
                        </li>
                        <li {% if request.path == "/employees" %} class="currentpage"{% endif %}>
                            <a href="/employees">Employee Portal</a>
                        </li>
                        <li {% if request.path == "/login" %} class="currentpage"{% endif %}>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li {% if request.path == "/logout" %} class="currentpage"{% endif %}>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="center">
                    {% block content %}{% endblock %}
                </div>
            </main>
            <br><br>
            <footer>
                <i>This web app is very vulnerable and was created for educational use only. See <a href='/help'>/help</a> for nudges and info.</i>
            </footer>
        </div>
    </body>
</html>