{% extends "header.html" %}

{% block content %}
<h1>Welcome to our site!!</h1>
<p>We are constantly updating this site for our valued customers, so check back frequently for deals!</p>
<br>
<h2>Current Promotions and Offers</h2>
<ul>
    <li>Buy one blinker fluid, get one free!</li>
    <li>Quarantine Special: 50% off Assorted Plants</li>
    <li>$15 off your next purchase when you sign up for our Credit Card*</li>
    <li id="u_always_read_fine_print_right_lol">* $5000 minimum purchase required, see Associate for details. 
        Must use same day for purchase. <br> We don't have a Credit Card, but if you ask, you can pledge your soul to us eternally for $15.**<br>
        ** Subject to change if you've already sold your soul.
    </li>
</ul>
{% endblock %}