{% extends "header.html" %}

{% block content %}
<h1>User Homepage</h1>
{% autoescape false %}
<h2> {{user}} is logged in!</h2>
{% endautoescape %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="{{category}}"> {{ message }} </div>
    {% endfor %}
{% endif %}
{% endwith %}

<form action="" method="post">
    <h2>Change Password</h2>
    <div class="block">
        <label for="passwd">Old Pass</label>
        <input placeholder="Enter Old Password" name="oldpassword" required>
    </div>
    <div class="block">
        <label for="passwd">Password</label>
        <input placeholder="Enter Password" name="password" required>
    </div>
    <br>
    <div class="block">
        <button type="submit" class="login">Update Password</button>
    </div>
</form>

<button onclick="location.href = '/logout';" type="submit" class="login">Logout</button>
{% endblock %}