{% extends "header.html" %}

{% block content %}
<h1>Company Shutdown</h1>
<br>
<h3>Attention Valued Employees and Customers:</h3>
<p>We will be temporarily shutting down our store December 23-30 to give our hard-working employees
    a break. During this period of time, it is important that the Employee fridge is 
    cleaned out, and all remaining food or beverages are taken home. Our janitorial staff will 
    be cleaning out the fridge and throwing any food away.
</p>
<br>
<h3>Janitorial Staff:</h3>
<p>You will only need to come into the office once during this period. Your employee-issued badge will
    work between the hours of 10am - 3pm.</p>

{% endblock %}